---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---
I'm interested in characterizing brown dwarfs and giant exoplanets to understand both their formation and evolution histories and the physical processes occuring in their atmospheres that drive our observations. I primarily use atmospheric retrievals (CHIMERA, Line et al. 2014) and forward modeling (Sonora family of models, PICASO, and VIRGA) to characterize their composition, cloud properties, mass, radius, and dynamics.

I've done retrievals or forward modelling of both brown dwarfs and direclty imaged exoplanets. These objects span a wide range of temperatures (T = 270 K to T = 2400 K) and have spectra that cover different wavelengths and resolutions (1-2.5 microns at R~100 to 3-5 microns at R~2700). Click on the projects to learn more.
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

